<div class="white col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="item">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
        <h1> {{ item.name }} </h1>
        <img class="detailImgSmall " src="{{ item.photo }}" alt="Item Picture">
        <div class="clear-fix"></div>
        <span class="badge">
            {{ item.price | currency:'USD':true:'1.0' }}
            <img class="buttonImg" src="app/img/basket.png" (click)="buy(item); $event.stopPropagation()" data-toggle="tooltip" title="Buy">
        </span>
        <button *ngIf=" item.videoUrl != 'noVideo' && !trailerPlaying " class="btn btn-warning" (click)="watchVideo(item)">Watch Video</button>
        <button *ngIf="trailerPlaying"  class="btn btn-warning" (click)="stopTrailer()">Close Video</button>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
        <img class="buttonImg" src="app/img/back-arrow.png" (click)="goBack()" data-toggle="tooltip" title="Go Back">
        <img *ngIf="!trailerPlaying" class="detailImg img-responsive" src="{{ item.blueprint }}" alt="Detailed Item Picture"/>
        <div *ngIf="trailerPlaying">
            <div class="videoDiv">
                <iframe width="560" height="315" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <h3>Description:</h3>
        <blockquote> {{ item.description }}  </blockquote>
    </div>
    <div class="smallBasketDiv footer navbar-fixed-bottom">
        <div class="white">
            <p> <span class="active2">{{ numberOfItems }}</span> : Items  </p>
            <p>Total Price : <span class="active2">{{ totalPrice | currency:'USD':true:'1.0'}}</span> </p>
            <span><img class="listImg img-responsive textCenter" src="app/img/basket.png" (click)="viewBasket()" data-toggle="tooltip" title="View Basket"></span>
        </div>
    </div>
</div>


