<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h1> Basket </h1>
        <h3> {{ numberOfItems }} ships</h3>
        <h3>Total Price :</h3>
        <div class="clearfix"></div>
        <h3>{{ totalPrice |  currency:'USD':true:'1.0' }} </h3>
        <span class="pull-right btn btn-danger" (click)="emptyBasket()">Empty Basket</span>
        
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <img class="buttonImg" src="app/img/back-arrow.png" (click)="goBack()">
        <div *ngIf="numberOfItems === 0">
            <h1>Your basket is empty! Please support your local spaceship dealer and buy some ships!</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of items" (click)="onSelect(item)">
                <div class="pull-right">
                    <span>Price: </span>
                    <span class="badge">{{ item.price }}</span>
 
                    <span class="btn-xs btn btn-danger pull-right" (click)="delete(item); $event.stopPropagation()">x</span>
                </div>
                <span> <h4>{{ item.qty }}</h4> Copies of 
                <img class="listImg " src="{{ item.photo }}"> 
                <h4>{{ item.name }}</h4> </span>
                
            </li>
        </ul>
  

        
    </div>
    <div class="smallBasketDiv footer navbar-fixed-bottom">
         <p>  {{ numberOfItems }} : Items  </p>
    <p>Total Price : {{ totalPrice | currency:'USD':true:'1.0'}} </p>
            <span><img class="listImg img-responsive textCenter" src="app/img/basket-open.png" (click)="goBack()" ></span>
        </div>

</div>

